<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
<br><br>
<div >

    <h3 class="text-center something_big"> <span class="lead">Welcome to the </span><b>Pricer</b></h3>

        <div class="form-group text-center" >

            <form method="POST" class="form-inline" action="/search_for_item">

                <input type="text" class="form-control" placeholder="Iphone"  name="search_item">
                <input type="submit" class="form-control" value="Search">

            </form>

                <br>
            Search the prices for the product you desire using the search box provided!
            <br>
            Just type to know about the prices of the product given in different E-Commerce sites.
        </div>

</div>



</body>
</html>
